*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 5%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: flex-start;
    /* padding: 0 50px; */
}
 header img{
    margin-right: 6%;
    margin-left: 5%;
}
 ul{
    display: flex;
    margin: 2%;
   margin-left: 2.5%;
    gap: 50px; 
} 
li{
    list-style-type:none;
}
 a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.first a{
    margin-right: 50px;
}

.second a{
    margin-right: 25px;
}
/* --------------section1------------- */
#section1{
    background-image: url("assets/backgroundimg.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}
 #section1 .container{
    background-color: #FFF3E3;
    height:385px;
    width: 600px;
    position: absolute;
    top: 280px;
    left: 799px;
    border-radius: 10px;
}
#section1 .containerdiv{
    margin: 50px 30px 18px 18px;
    margin-top: 50px;
}
#section1 .containerdiv h1{
    color: #B88E2F;
    font-weight: 700;
}
#section1 .containerdiv button{
    color: white;
    border: none;
    margin-top: 25px;
    background-color: #B88E2F;
    padding: 15px 50px;
    font-weight: 700;
    font-size: small;
}
#section1 .containerdiv p{
    font-weight: 500;
}

/* Base styles already defined above remain unchanged */

/* ---------- Responsive Section1 ----------
@media (max-width: 1200px) {
  #section1 .container {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
  }
}

@media (max-width: 768px) {
    nav ul li{
        display: none;
    }
  #section1 {
    height: auto;
    padding-bottom: 50px;
    width: 100%;
  }

  #section1 .container {
    width: 50%;
    height: auto;
    top: 20%;
    left: 40%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 30px;
  }

  #section1 .containerdiv {
    margin: 30px 20px;
  }

  #section1 .containerdiv h1 {
    font-size: 1rem;
  }

  #section1 .containerdiv p {
    font-size: 0.6rem;
  }

  #section1 .containerdiv button {
    padding: 12px 30px;
    font-size: 0.9rem;
  }
} */

/* ----------section2----------- */
#section2{
    width: 100%;
    height: 650px;
}
#section2 .container{
     margin-top: 45px ;

}
#section2 h3{
    font-weight: 700;
}
#section2 .imgs{
  margin: 60px 180px;
}
#section2 img{
width: 300px;
border-radius: 10px;
}
#section2 .imgs h5{
    margin-left: 122px;
    margin-top: 30px;
}
/* --------------section3---------------- */
#section3 .col{
  background-color: #F4F5F7;
 width: 250px;
margin-right: 20px;
padding: 0;
}
#section3 .col img{
 width: 100%;
 margin: 0;
 padding: 0;
}
#section3  h2{
  font-weight: 800;
}
#section3 .col span{
 font-size: small;
 margin-left: 10px;
}
#section3 .container button{
  padding: 10px 20px;
  border:1px solid #B88E2F;
  text-decoration: none;
  background-color: white;
 color: #B88E2F;

}